In [5]:
import pandas as pd

clean_df_url = "https://raw.githubusercontent.com/louispaulet/hatvp_viz/main/datasets/stocks/hatvp_cleaned_stocks.csv"

df = pd.read_csv(clean_df_url, index_col=0)
df

,declarations_declaration_uuid,declarations_declaration_dateDepot,declarant_nom,declarant_prenom,declarant_dateNaissance,qualiteDeclarantForPDF,motif_id,commentaire,nomSociete,evaluation,remuneration,nombreParts,actiConseil,capitalDetenu,nomOrganisationConseil,motif_label
0,4344aaa1-874d-4e6d-9b1a-45f7725b710c,2022-07-11 15:40:13,ABAD,DAMIEN,05/04/1980,Député/Ain(01),CREATION,[Données non publiées],ORANGE,877,néant,83,Non,NaN,NaN,NaN
1,4344aaa1-874d-4e6d-9b1a-45f7725b710c,2022-07-11 15:40:13,ABAD,DAMIEN,05/04/1980,Député/Ain(01),CREATION,[Données non publiées],CREDIT AGRICOLE SA,2910,néant,341,Non,NaN,NaN,NaN
2,4344aaa1-874d-4e6d-9b1a-45f7725b710c,2022-07-11 15:40:13,ABAD,DAMIEN,05/04/1980,Député/Ain(01),CREATION,[Données non publiées],AIRBUS,1929,NEANT,20,Non,NaN,NaN,NaN
3,4344aaa1-874d-4e6d-9b1a-45f7725b710c,2022-07-11 15:40:13,ABAD,DAMIEN,05/04/1980,Député/Ain(01),CREATION,[Données non publiées],L'OREAL,6552,NEANT,20,Non,NaN,NaN,NaN
4,fa8d18ec-0db9-4a39-b1f4-caba0c31329b,2022-11-27 18:18:23,ABAD,DAMIEN,05/04/1980,Député/Ain(01),CREATION,[Données non publiées],ORANGE,877,néant,83,Non,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,19140875-1488-43e7-95a7-63d0b7212a19,2021-06-25 13:29:08,zuili,nicolas,08/03/1965,Maire ou adjoint municipal/Rouen (76),CREATION,COMPTE TITRES CDN,BNP PARIBAS,10820,0,200,Non,NaN,NaN,NaN
103,19140875-1488-43e7-95a7-63d0b7212a19,2021-06-25 13:29:08,zuili,nicolas,08/03/1965,Maire ou adjoint municipal/Rouen (76),CREATION,COMPTE TITRE CDN,RENAULT,7073,0,200,Non,NaN,NaN,NaN
104,19140875-1488-43e7-95a7-63d0b7212a19,2021-06-25 13:29:08,zuili,nicolas,08/03/1965,Maire ou adjoint municipal/Rouen (76),CREATION,COMPTE TITRES CDN,SAINT GOBAIN,11238,0,200,Non,NaN,NaN,NaN
105,19140875-1488-43e7-95a7-63d0b7212a19,2021-06-25 13:29:08,zuili,nicolas,08/03/1965,Maire ou adjoint municipal/Rouen (76),CREATION,COMPTE TITRES CDN,UNIBAIL RODAMCO,7991,0,100,Non,NaN,NaN,NaN
106,d1129c22-a715-4df6-8c0f-cfc678f1518c,2022-08-20 08:26:16,Zulesi,Jean-Marc,06/06/1988,Député/Bouches-du-Rhône(13),NaN,NaN,DONNEES NON PUBLIEES,0,0,0,Non,NaN,NaN,NaN

In [9]:
df

,declarations_declaration_uuid,declarations_declaration_dateDepot,declarant_nom,declarant_prenom,declarant_dateNaissance,qualiteDeclarantForPDF,motif_id,commentaire,nomSociete,evaluation,remuneration,nombreParts,actiConseil,capitalDetenu,nomOrganisationConseil,motif_label
0,4344aaa1-874d-4e6d-9b1a-45f7725b710c,2022-07-11 15:40:13,ABAD,DAMIEN,05/04/1980,Député/Ain(01),CREATION,[Données non publiées],ORANGE,877,néant,83,Non,NaN,NaN,NaN
1,4344aaa1-874d-4e6d-9b1a-45f7725b710c,2022-07-11 15:40:13,ABAD,DAMIEN,05/04/1980,Député/Ain(01),CREATION,[Données non publiées],CREDIT AGRICOLE SA,2910,néant,341,Non,NaN,NaN,NaN
2,4344aaa1-874d-4e6d-9b1a-45f7725b710c,2022-07-11 15:40:13,ABAD,DAMIEN,05/04/1980,Député/Ain(01),CREATION,[Données non publiées],AIRBUS,1929,NEANT,20,Non,NaN,NaN,NaN
3,4344aaa1-874d-4e6d-9b1a-45f7725b710c,2022-07-11 15:40:13,ABAD,DAMIEN,05/04/1980,Député/Ain(01),CREATION,[Données non publiées],L'OREAL,6552,NEANT,20,Non,NaN,NaN,NaN
4,fa8d18ec-0db9-4a39-b1f4-caba0c31329b,2022-11-27 18:18:23,ABAD,DAMIEN,05/04/1980,Député/Ain(01),CREATION,[Données non publiées],ORANGE,877,néant,83,Non,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,19140875-1488-43e7-95a7-63d0b7212a19,2021-06-25 13:29:08,zuili,nicolas,08/03/1965,Maire ou adjoint municipal/Rouen (76),CREATION,COMPTE TITRES CDN,BNP PARIBAS,10820,0,200,Non,NaN,NaN,NaN
103,19140875-1488-43e7-95a7-63d0b7212a19,2021-06-25 13:29:08,zuili,nicolas,08/03/1965,Maire ou adjoint municipal/Rouen (76),CREATION,COMPTE TITRE CDN,RENAULT,7073,0,200,Non,NaN,NaN,NaN
104,19140875-1488-43e7-95a7-63d0b7212a19,2021-06-25 13:29:08,zuili,nicolas,08/03/1965,Maire ou adjoint municipal/Rouen (76),CREATION,COMPTE TITRES CDN,SAINT GOBAIN,11238,0,200,Non,NaN,NaN,NaN
105,19140875-1488-43e7-95a7-63d0b7212a19,2021-06-25 13:29:08,zuili,nicolas,08/03/1965,Maire ou adjoint municipal/Rouen (76),CREATION,COMPTE TITRES CDN,UNIBAIL RODAMCO,7991,0,100,Non,NaN,NaN,NaN
106,d1129c22-a715-4df6-8c0f-cfc678f1518c,2022-08-20 08:26:16,Zulesi,Jean-Marc,06/06/1988,Député/Bouches-du-Rhône(13),NaN,NaN,DONNEES NON PUBLIEES,0,0,0,Non,NaN,NaN,NaN

In [13]:
mask = ["declarations_declaration_uuid",
"declarations_declaration_dateDepot",
"declarant_nom",
"declarant_prenom",
"declarant_dateNaissance",
"qualiteDeclarantForPDF",
"nomSociete",
"evaluation",
"nombreParts"
]

df_cleaner = df[mask]
df_cleaner.columns = ['document_uuid', 'document_datetime', 'owner_name', 'owner_surname', 'owner_birtdate', 'owner_qualification', 'company_name', 'position_value', 'shares_nb']
df_cleaner

,document_uuid,document_datetime,owner_name,owner_surname,owner_birtdate,owner_qualification,company_name,position_value,shares_nb
0,4344aaa1-874d-4e6d-9b1a-45f7725b710c,2022-07-11 15:40:13,ABAD,DAMIEN,05/04/1980,Député/Ain(01),ORANGE,877,83
1,4344aaa1-874d-4e6d-9b1a-45f7725b710c,2022-07-11 15:40:13,ABAD,DAMIEN,05/04/1980,Député/Ain(01),CREDIT AGRICOLE SA,2910,341
2,4344aaa1-874d-4e6d-9b1a-45f7725b710c,2022-07-11 15:40:13,ABAD,DAMIEN,05/04/1980,Député/Ain(01),AIRBUS,1929,20
3,4344aaa1-874d-4e6d-9b1a-45f7725b710c,2022-07-11 15:40:13,ABAD,DAMIEN,05/04/1980,Député/Ain(01),L'OREAL,6552,20
4,fa8d18ec-0db9-4a39-b1f4-caba0c31329b,2022-11-27 18:18:23,ABAD,DAMIEN,05/04/1980,Député/Ain(01),ORANGE,877,83
...,...,...,...,...,...,...,...,...,...
102,19140875-1488-43e7-95a7-63d0b7212a19,2021-06-25 13:29:08,zuili,nicolas,08/03/1965,Maire ou adjoint municipal/Rouen (76),BNP PARIBAS,10820,200
103,19140875-1488-43e7-95a7-63d0b7212a19,2021-06-25 13:29:08,zuili,nicolas,08/03/1965,Maire ou adjoint municipal/Rouen (76),RENAULT,7073,200
104,19140875-1488-43e7-95a7-63d0b7212a19,2021-06-25 13:29:08,zuili,nicolas,08/03/1965,Maire ou adjoint municipal/Rouen (76),SAINT GOBAIN,11238,200
105,19140875-1488-43e7-95a7-63d0b7212a19,2021-06-25 13:29:08,zuili,nicolas,08/03/1965,Maire ou adjoint municipal/Rouen (76),UNIBAIL RODAMCO,7991,100
106,d1129c22-a715-4df6-8c0f-cfc678f1518c,2022-08-20 08:26:16,Zulesi,Jean-Marc,06/06/1988,Député/Bouches-du-Rhône(13),DONNEES NON PUBLIEES,0,0

In [14]:
df_cleaner.to_csv('/content/drive/MyDrive/AI/HATVP/datasets/stocks/hatvp_cleaner_stocks.csv')